<!DOCTYPE html>
<html lang="fr">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>h3lloSoci3ty</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">



  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="images/favicon.png">

</head>
<body>
  <header>  
    <div class="container">
      <div class="row">
        <div class="four columns" style="">
          <h1 class="title-anim" style="font-size: 70px; color: #7C1010;">helloSociety</h1>
        </div>
        <div class="eight columns" style="">
          <button class="hover-anim" style="float: right; margin: 1%; border-radius: 30%;"><a href="#" style="color: #7C1010;">Panier</a></button>
          <button class="hover-anim" style="float: right; margin: 1%; border-radius: 30%;"><a href="html/formulaire.html" style="color: #7C1010;">Register</a></button>
        </div>
      </div>
    </div>
  </header>
  <nav>
    <div class="container">
      <div class="row">
        <div class="three columns">
          <button class="hover-underline-animation"><a href="#" style="color: #7C1010;">Accueil</a></button>
        </div>
        <div class="three columns">
          <button class="hover-underline-animation"><a href="#" style="color: #7C1010;">Vetements</a></button>
        </div>
        <div class="three columns">
          <button class="hover-underline-animation"><a href="#" style="color: #7C1010;">Creations</a></button>
        </div>
        <div class="three columns">
          <button class="hover-underline-animation"><a href="#" style="color: #7C1010;">Contacts</a></button>
        </div>
      </div>
    </div>
  </nav>
  <article class="container">
    <div class="row">
      <div class="eleven columns" style="margin-top: 50%; margin-left: 5%;">
        <div class="wrapper">
          <div class="cubeContainer">
            <div class="image-cube">
              <div class="front">
                <a href="#"><img src="images/1.png"></a>
              </div>
              <div class="right">
                <a href="#"><img src="images/2.png"></a>
              </div>
              <div class="back">
                <a href="#"><img src="images/3.png"></a>
              </div>
              <div class="left">
                <a href="#"><img src="images/4.png"></a>
              </div>
              <div class="shadow">
                <div class="front">
                  <img src="images/1.png">
                </div>
                <div class="right">
                  <img src="images/2.png">
                </div>
                <div class="back">
                  <img src="images/3.png">
                </div>
                <div class="left">
                  <img src="images/4.png">
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="btns">
              <button id="prev">
                <a style="color: #7C1010;">left</a>
              </button>
              <button id="next">
                <a style="color: #7C1010;">right</a>
              </button>
            </div>
          </div>
            
        </div>
      </div>
    </div>
  </article>
  <section class="container">
    <div class="row">
      <div class="eleven columns" style="margin-bottom: 20%; margin-top: 20%; text-align: center;">
        <p></p>
      </div>
    </div>
  </section>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
<script src="script.js"></script>
</body>
</html>
